---
title: Home
layout: default
background: '/img/bg-index1.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero index-cover-pic">
  <div class="row align-items-center justify-content-between ">
    <div class="col-md-12" >
      <h1 class="font-weight-bold mb-4 serif-font" align="center">ARIES Science Club</h1>
      <p class="lead mb-4" align="justify">Welcome to the ARIES Science Club! Our informal interactive sessions will take you on a journey through the universe with hands-on
        activities and discussions about current research work, with young researchers and guest speakers. It will also delve into the programming aspects 
        involved with it, encouraging students to ask questions and share their own ideas. Come join us in this exciting journey.  </p>
      <!---<a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">Know More</a>--->
    </div>
    
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
