<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div class="sidebar sticky-top">        
        <div class="sidebar-section">
            <h5><span>Contact Us</span></h5>
            {% include newsletter.html %}
        </div>
        <div class="sidebar-section ">
            <h5><span>Upcoming Talk</span></h5>
            <img class="upcoming-profile" src="/assets/images/profile-pic/khusboo.jpg" alt="Khusboo-image">
            <p class="upcoming-title"><strong><a href="upcoming">Exploring the power of Machine Learning and Big Data in Astrophysics with a Test case"
                </a></strong><p>
            <p style="text-align: center;"><strong> By Neel Vadodaria on 3rd March at 06:30 pm</strong></p>
        </div>
    </div>
</body>
</html>

