<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div class="sidebar sticky-top">        
        <div class="sidebar-section">
            <h5><span>Contact Us</span></h5>
            {% include newsletter.html %}
        </div>
        <div class="sidebar-section ">
            <h5><span>Upcoming Talk</span></h5>
            <img class="upcoming-profile" src="https://i1.rgstatic.net/ii/profile.image/1018163521150976-1619760508229_Q128/Athira-Unni-2.jpg" alt="athira-image">
            <p class="upcoming-title"><strong><a href="upcoming">Transit Spectroscopy - A Tool to Probe the Exoplanet Atmosphere</a></strong><p>
            <p style="text-align: center;"><strong> By Ms. Athira Unni on 2nd June at 06:30 pm</strong></p>
        </div>
    </div>
</body>
</html>

