<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div class="sidebar sticky-top">        
        <div class="sidebar-section">
            <h5><span>Contact Us</span></h5>
            {% include newsletter.html %}
        </div>
        <div class="sidebar-section ">
            <h5><span>Upcoming Talk</span></h5>
            <img class="upcoming-profile" src="https://www.aries.res.in/sites/default/files/pictures/2022-12/IMG_Deepak.JPG" alt="avatar-image">
            <p class="upcoming-title"><strong><a href="upcoming">Journey of light elements through the cosmos</a></strong><p>
            <p style="text-align: center;"><strong> By Dr. Deepak on 28th Oct at 03:30 pm</strong></p>
        </div>
    </div>
</body>
</html>

